.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	float: right;
	margin-top: 10px;
	position: relative;
	right: 30px;
}

.container button:hover {
	opacity: 90%;
}


 .locations, .amenities {
	float: left;
	height: 100%;
	width: 25%;
	font-weight: 600;
}

.title {
	margin-bottom: 0;
	padding-left: 30px;;
}
.subtitle {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding-left: 30px;
}

.locations {
	border-right: 1px solid #DDDDDD;
	position: relative;
}

.popover h2 {
	position: relative;
	right: 35px;
	margin-bottom: 0;
	padding-left: 4px;
}
.popover li {
	position:relative;
	right: 10px;
}
.first-state-list{
	margin-bottom: 0;
	border-bottom: none;
	display: none;
	padding-top: 20px;
	border-radius: 4px;
}
.second-state-list {
	margin-top: -20px;
	border-top: none;
	display: none;
	border-radius: 4px;
}

.am-list {
	padding-top: 30px;
	margin-left: -2px;
	border-radius: 4px;
	display: none;
}
.locations:hover .popover {
	display: block;
}
.amenities:hover .popover {
	display: block;
}
